:root{
    --primary-color:#222;
    --tertiary-color:#fff;
    --transparent-color:  #00000000;
    --follow-button-hover:#09f;
    --follow-button-border:#bbb;
    --follow-button-border-hover:rgba(255, 0, 0, 0.179);
    --unfollow-text-color:red;
}

.tw-followCard{
    display: flex;
    align-items: center;
    color: var(--tertiary-color);
    font-size: 0.8rem;
    justify-content: space-between;
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName{
    opacity: 0.6;
}

.tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button{
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid  var(--follow-button-border);
    transition: .3s ease background-color;
}

.tw-followCard-button:hover{
    background-color: var(--follow-button-hover);
    border-color: var(--follow-button-hover);
}

.tw-followCard-text{
    display: block;
}

.tw-followCard-button.is-following {
    border: 1px solid  var(--follow-button-border);
    background-color: var(--transparent-color);
    color: var(--tertiary-color);
    width: 130px;
}

.tw-followCard-button.is-following:hover{
    background-color: var(--follow-button-border-hover);
    color: var(--unfollow-text-color);
    border: 1px solid  var(--unfollow-text-color);
    opacity: 0.8;
    transition: 0.3s ease all;
}

.tw-followCard-button.is-following:hover .tw-followCard-text{
    display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow{
    display: block;
}

.tw-followCard-stopFollow{
    display: none;
}