*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    background-color: #222;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 8px;
}